{
  "host": "localhost",
  "port": 3101,
  "server": "https://unionchc.com",
  "server_socket": "/.ethereum/rinkeby/geth.ipc",
  "telegram": {
    "site": "http://unionchc.com",
    "token": "xxxxx:xxxxxxxxxxxxxxxx",
    "name": "UnionchcBot"
  },
  "sqlite": {
    "path": "/database/unionch.db"
  },
  "ethereum": {
    "contract": "0x",
    "address": "0x",
    "password": ""
  }
}